{% include "header.html" %}
<div class="content-section header centered">
	<img src="/img/tracer.svg">
	<h1>Hi, I'm Sam!</h1>
	<p><i>"Design & development doggo, political pupper, and an antisocial justice warrior."</i></p>
</div>
<div class="content-section flexMap">
	<div class="block white">
		<svg viewBox="0 0 24 24">
			<use xlink:href="/img/general/location-user.svg#Outline_Version"></use>
		</svg>
		<h2>America's Home-City</h2>
		<p>I currently reside in America's home-city of Boston MA. Along with the awesome food and cruel winters, Boston is an upcoming tech center for innovation inside their Seaport district, where I currently commute to daily, for both work in the summer for work, and in the fall, winter, and spring for school.</p>
	</div>
</div>
<div class="content-section clanyonSect">
	<div class="block black">
		<svg viewBox="4 -30 250 250" class="white">
			<use xlink:href="/img/brand/clanyon.svg#logo"></use>
		</svg>
		<h2>The Clanyon Project</h2>
		<p>Over my high school career, I have been developing a project titled Clanyon. Its primary goal is to reimagine how people create websites and complex applications that normally cost businesses thousands upon thousands of dollars. While this was simply a pet project for quite some time, it was recently acquired by a company based in New York, where they have hired a team of developers to assist me in this goal. To read more about Clanyon, please visit its website:</p>
		<a href="https://clanyon.com" target="_blank">
			<div class="gitBlock">
				<h4>Clanyon Website</h4>
				<p>https://clanyon.com</p>
			</div>
		</a>
	</div>
</div>
<div class="content-section brands">
	<div class="block white xtrapadding">
		<svg viewBox="0 0 24 24" class="icon">
			<use xlink:href="/img/general/briefcase.svg#Outline_Version"></use>
		</svg>
		<h2>Awesome Brands</h2>
		<p>I've had the distinct pleasure of working with trusted brands throughout the nation as well as overseas to create amazing products with even better teams, whether be it my two summers at Cantina Consulting, creating a social network for all ages and designing parts of their website, working in New York with brands like HostVenom and Ready2Frag to create the Clanyon project, or even answering support tickets at "Max's Hosting" in science class in seventh grade. I love what I do, and hope that I'll be able to create even better experiences in the future.</p>
		<div class="pushDown">
			<svg viewBox="25 10 350 390">
				<use xlink:href="/img/brand/cantina.svg#logo"></use>
			</svg>
			<svg viewBox="-20 -10 250 250">
				<use xlink:href="/img/brand/hostvenom.svg#logo"></use>
			</svg>
			<svg viewBox="-60 75 650 400">
				<use xlink:href="/img/brand/r2f.svg#logo"></use>
			</svg>
			<svg viewBox="4 0 250 250">
				<use xlink:href="/img/brand/clanyon.svg#logo"></use>
			</svg>
			<svg viewBox="-30 160 600 250">
				<use xlink:href="/img/brand/the_chunk.svg#logo"></use>
			</svg>
			<svg viewBox="50 -5 40 160">
				<use xlink:href="/img/brand/mhs.svg#logo"></use>
			</svg>
			<svg viewBox="4 -30 250 250" class="white">
				<use xlink:href="/img/brand/fpp.svg#logo"></use>
			</svg>
		</div>
	</div>
</div>
<div class="content-section twoBlocks">
	<div>
		<div class="block two white">
			<svg viewBox="0 0 24 24">
				<use xlink:href="/img/general/art-knife.svg#Outline_Version"></use>
			</svg>
			<h2>Skills</h2>
			<ul>
				<li>UX Design</li>
				<li>UI Design</li>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>Javascript</li>
				<li>PHP</li>
				<li>Swift</li>
				<li>MYSQL/Postgres</li>
				<li>Apache/NGINX</li>
				<li>Linux</li>
			</ul>
		</div>
		<div class="block two black darken">
			<svg viewBox="0 0 24 24">
				<use xlink:href="/img/general/id-picture-1.svg#Outline_Version"></use>
			</svg>
			<h2>Values & Interests</h2>
			<ul>
				<li>Personal Responsibility</li>
				<li>Honesty</li>
				<li>Determination</li>
				<li>Hard Work</li>
				<li>Fairness/Equality</li>
				<br>
				<li>Politics</li>
				<li>Gaming</li>
				<li>Entertainment</li>
				<li>Journalism</li>
				<li>Anti-PC</li>
			</ul>
		</div>
	</div>
</div>
<div class="content-section workSect">
	<div class="block black darken">
		<svg viewBox="0 0 24 24">
			<use xlink:href="/img/general/quill-ink.svg#Outline_Version"></use>
		</svg>
		<h2>Amazing Work</h2>
		<p>Because I have nothing better to do than endlessly refresh social media.</p>
		<br>
		<div id="github">
		</div>
		<div id="blogs">
		</div>
	</div>
</div>
<div class="content-section workSect">
	<div class="block white">
		<svg viewBox="0 0 24 24">
			<use xlink:href="/img/general/mailbox-1.svg#Outline_Version"></use>
		</svg>
		<h2>So let's get in touch!</h2>
		<p>In addition to my work with brands, I have published open source repositories:</p>
		<br>
		<div>
			<a class="btn btn-twitter" href="https://twitter.com/sgehly" target="_blank">
				<div class="gitBlock dark">
					<h4>@SGehly</h4>
					<p>Twitter</p>
				</div>
			</a>
			<a class="btn btn-email" href="mailto:s@geh.li" target="_blank">
				<div class="gitBlock dark">
					<h4>s@geh.li</h4>
					<p>Email</p>
				</div>
			</a>
			<a class="btn btn-skype" href="skype:tobyg.1234?chat" target="_blank">
				<div class="gitBlock dark">
					<h4>TobyG.1234</h4>
					<p>Skype</p>
				</div>
			</a>
			<a class="btn btn-github" href="https://github.com/sgehly" target="_blank">
				<div class="gitBlock dark">
					<h4>/Gehly</h4>
					<p>GitHub</p>
				</div>
			</a>
		</div>
	</div>
</div>
<script>
	function generateBlock(ele, title, subtitle, url){
		ele.innerHTML += '<a href="'+url+'" target="_blank"><div class="gitBlock"><h4>'+title+'</h4><p>'+subtitle+'</p></div></a>';
	}
    function sendRequest(url,cb){
      var request = new XMLHttpRequest();
      request.open('GET', url, true);

      request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
          var data = JSON.parse(request.responseText);
          cb(data)
        } else {console.log("Error reaching "+url)}
      };

      request.onerror = function() {console.log("Error reaching "+url)};
      request.send();
    }
    window.onload = function(){
      sendRequest('https://api.github.com/users/sgehly/repos', function(r){
        for(var i=0;i<r.length;i++){
          generateBlock(document.getElementById('github'), r[i].name, r[i].description, r[i].html_url)
        }
      })
      sendRequest('/posts', function(r){
      	var ele = document.getElementById('blogs');
      	if(r.posts.length > 0){
      		ele.innerHTML += "<p>and blog posts based off of my interests:</p>"
      	}
      	for(i=0;i<r.posts.length;i++){
      		generateBlock(ele, r.posts[i].title, r.posts[i].description, r.posts[i].url);
      	}
      })
    }
    </script>