@import "https://fonts.googleapis.com/css?family=Bungee|Dosis:200,";
html, body, p {
  margin: 0;
  padding: 0;
  color: #1d283a; }

html, body {
  width: 100vw;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee';
  margin: 0; }

h1 {
  font-size: 96px; }

h2 {
  font-size: 64px; }

p {
  font-family: 'Dosis';
  font-weight: 100;
  font-size: 24px; }

.content-section {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover; }
  .content-section.header {
    background-image: url(/img/bg.svg);
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 3px solid #1d283a; }
    .content-section.header img {
      height: 200px; }
    .content-section.header p {
      font-size: 36px; }
  .content-section.flexMap {
    background-image: url(/img/map.svg); }
  .content-section.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  .content-section.clanyonSect {
    background-image: url(/img/clanyonpanel.png);
    color: white; }
  .content-section.brands {
    background-image: url(/img/bg.svg); }
  .content-section.twoBlocks {
    background-image: url(/img/bg.svg); }
  .content-section.workSect {
    background-image: url(/img/bg.svg); }
  .content-section .block {
    width: 100%;
    min-height: 100%;
    background: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px; }
    .content-section .block.xtrapadding {
      padding-top: 50px;
      padding-bottom: 50px; }
    @media screen and (max-width: 968px) {
      .content-section .block {
        width: 100vw;
        display: block; } }
    .content-section .block.two {
      display: inline-flex;
      width: 50vw; }
      .content-section .block.two:last-child {
        float: right; }
    .content-section .block.black {
      background: rgba(29, 40, 58, 0.9); }
      .content-section .block.black.darken {
        background: rgba(29, 40, 58, 0.95); }
      .content-section .block.black * {
        color: white;
        fill: white; }
    .content-section .block.white {
      background: rgba(255, 255, 255, 0.7); }
      .content-section .block.white * {
        color: #1d283a;
        fill: #1d283a; }
    .content-section .block h2 {
      font-size: 48px; }
      @media screen and (max-width: 968px) {
        .content-section .block h2 {
          font-size: 24px; } }
    .content-section .block h2, .content-section .block p {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 968px; }
    .content-section .block p {
      padding-top: 40px;
      font-weight: 200;
      max-width: 968px; }
    .content-section .block svg {
      width: 150px;
      height: 150px;
      fill: #1d283a;
      padding-bottom: 40px;
      transition: .25s all;
      margin-left: 20px;
      margin-right: 20px; }
      .content-section .block svg.white {
        fill: white; }
      .content-section .block svg:hover {
        transform: translateY(-10px);
        transition: .25s all;
        cursor: pointer; }
    .content-section .block .iconRow {
      padding-top: 20px;
      padding-bottom: 20px; }
      .content-section .block .iconRow:first-child {
        padding-top: 40px; }

.pushDown {
  margin-top: 50px; }

ul {
  text-align: left; }
  ul li {
    font-family: 'Dosis';
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px; }

.gitBlock {
  border: 1px solid white;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  margin: 15px;
  transition: .25s all; }
  .gitBlock.dark {
    border: 1px solid #1d283a; }
    .gitBlock.dark:hover {
      background: #1d283a; }
      .gitBlock.dark:hover * {
        color: white !important; }
  .gitBlock:hover {
    background: white;
    transition: .25s all; }
    .gitBlock:hover * {
      color: #1d283a !important; }
  .gitBlock a {
    text-decoration: none; }
  .gitBlock p {
    padding: 0;
    padding-top: 0px !important;
    font-size: 16px;
    margin: 0; }

a {
  text-decoration: none; }
