@import "https://fonts.googleapis.com/css?family=Bungee|Dosis:200,300,400,500,600,700,800";

$mainColor: #1d283a;
$darkColor: #0a0f16;
$mobileWidth: 968px;

html,body,p{
	margin:0;
	padding:0;
	color:$mainColor;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Bungee';
	margin:0;
}

h1{
	font-size:96px;
}
h2{
	font-size:64px;
}

p{
	font-family: 'Dosis';
	font-weight:100;
	font-size:24px;
}

.content-section{
	min-height:100vh;
	background-attachment:fixed;
	background-size:cover;
	&.header{
		background-image:url(/img/bg.svg);
		padding-left:30px;
		padding-right:30px;
		img{
			height:200px;
		}
		p{
			font-size:36px;
		}
		border-bottom:3px solid $mainColor;
	}
	&.flexMap{
		background-image:url(/img/map.svg);
	}
	&.centered{
		display:flex;
		align-items:center;
		justify-content: center;
		flex-direction:column;
		text-align: center;
	}
	&.clanyonSect{
		background-image:url(/img/clanyonpanel.png);
		color:white;
	}
	&.brands{
		background-image:url(/img/bg.svg);
	}

	&.twoBlocks{
		background-image:url(/img/bg.svg);
	}

	&.workSect{
		background-image:url(/img/bg.svg);
	}
	.block{
		width:100%;
		min-height:100%;
		background:transparent;
		text-align:center;
		display:flex;
		justify-content: center;
		align-items:center;
		flex-direction:column;
		padding-top:20px;
		padding-bottom:20px;

		&.xtrapadding{
			padding-top:50px;
			padding-bottom:50px;
		}
		@media screen and (max-width: $mobileWidth){
			width:100vw;
			display:block;
		}
		&.two{
			display:inline-flex;
			width:50vw;

			&:last-child{
				float:right;
			}
		}
		&.black{
			background: transparentize($mainColor, 0.1);
			&.darken{
				background: transparentize($mainColor, 0.05);
			}
			*{
				color:white;
				fill:white;
			}
		}
		&.white{
			background: rgba(255,255,255,0.7);
			*{
				color:$mainColor;
				fill:$mainColor;
			}
		}
		h2{
			font-size:48px;
			@media screen and (max-width:$mobileWidth){
				font-size:24px;
			}
		}
		h2,p{
			padding-left:50px;
			padding-right:50px;
			max-width: 968px;
		}
		p{
			padding-top:40px;
			font-weight:200;
			max-width:968px;
		}
		svg{
			width: 150px;
			height:150px;
			fill: $mainColor;
			padding-bottom:40px;
			transition:.25s all;
			margin-left:20px;
			margin-right:20px;
			&.white{
				fill: white;
			}

			&:hover{
				transform: translateY(-10px);
				transition:.25s all;
				cursor:pointer;
			}
		}
		.iconRow{
			&:first-child{
				padding-top:40px;
			}
			padding-top:20px;
			padding-bottom:20px;
		}
	}
}

.pushDown{
	margin-top:50px;
}

ul{
	text-align:left;
	li{
		font-family:'Dosis';
		font-size:16px;
		padding-top:10px;
		padding-bottom:10px;
	}
}

.gitBlock{
	border:1px solid white;
	border-radius:3px;
	display:inline-block;
	padding:10px;
	margin:15px;
	transition: .25s all;
	
	&.dark{
		border:1px solid $mainColor;
		&:hover{
			background:$mainColor;
			*{
				color: white !important;
			}
		}
	}
	&:hover{
		background:white;
		*{
			color:$mainColor !important;
		}
		transition: .25s all;
	}

	a{
		text-decoration:none;
	}
	p{
		padding:0;
		padding-top:0px !important;
		font-size:16px;
		margin:0;
	}
}
a{
	text-decoration: none;
}